@media  (min-width: 1200px)
{
    .formsinput {
        width: 700px;
        margin-top: 2%
    }
}
.formsinput {
    width: 60%;
    margin-top: 2%;
    max-width:700px;
    
}
h1{
    margin-top: 10px;
}