@using AntDesign
<div class="top-row pl-4 navbar" style="background: #fff;">

    <PageHeader Style="text-align:left;text-color:blue" Title="BlazerApp"/>
</div>

<div style="background:#fff;margin:10px;">
<Menu Mode="MenuMode.Inline" InlineCollapsed = "collapseNavMenu" Style="length:100%">
            <MenuItem RouterLink="" RouterMatch="NavLinkMatch.All">Home</MenuItem>
            <MenuItem RouterLink="counter" RouterMatch="NavLinkMatch.All">Counter</MenuItem>
            <MenuItem RouterLink="catlist" RouterMatch="NavLinkMatch.All">Cat List</MenuItem>
            <MenuItem RouterLink="new-item" RouterMatch="NavLinkMatch.All">New</MenuItem>
</Menu>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
